<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - CSS-Only Floating Labels</title>
  <link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<body>
  <h1>CSS-Only Floating Labels</h1>
  <div class="container">
    <div class="cta-form">
      <h2>Fill out the form!</h2> 
    <p>Check out the comments for line by line explanations. Form-related code starts on line 145.</p>
    </div>
    <form action="" class="form">
      
      <input type="text" placeholder="Name" class="form__input" id="name" />
      <label form="name" class="form__label">

      <input type="email" placeholder="Email" class="form__input" id="email" />
      <label form="email" class="form__label">

      <input type="text" placeholder="Subject" class="form__input" id="subject" />
      <label form="subject" class="form__label">

      <input type="" placeholder="Subject" class="form__input" id="subject" />
      <label form="subject" class="form__label">


      
    </form>
  </div>
</body>
</html>