<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - CSS-Only Floating Labels</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
  <link rel="icon" href="{{url_for('static', filename='images/favicon.svg')}}">


</head>
<body>
<!-- partial:index.partial.html -->
<body>
    </div>
    <form action="{{ url_for('routes.register') }}" method="POST" class="form">
      {{ form.csrf_token }}
      <div class="form-group">
        {{ form.username.label(class="form__label") }}
        {{ form.username(class="form__input", id="username") }}
        {% for error in form.username.errors %}
          <span class="error">{{ error }}</span>
        {% endfor %}
      </div>
      <div class="form-group">
        {{ form.password.label(class="form__label") }}
        {{ form.password(class="form__input", id="password") }}
        {% for error in form.password.errors %}
          <span class="error">{{ error }}</span>
        {% endfor %}
      </div>
      <div class="form-group">
        {{ form.email.label(class="form__label") }}
        {{ form.email(class="form__input", id="email") }}
        {% for error in form.email.errors %}
          <span class="error">{{ error }}</span>
        {% endfor %}
      </div>
      <div class="form-group">
        {{ form.birthday.label(class="form__label") }}
        {{ form.birthday(class="form__input", id="birthday") }}
        {% for error in form.birthday.errors %}
          <span class="error">{{ error }}</span>
        {% endfor %}
      </div>
      <div class="form-group">
        {{ form.submit(class="form__input", id="submit") }}
      </div>
      <div class="a_text">
        <a href="{{ url_for('routes.login') }}">Have an account? Login here</a><br>
        <a href="{{ url_for('routes.home') }}">Main Page</a><br>
        </div>
    </form>

</body>
</html>